

<div class="mainHomeDiv">
    <div class="upperSectionDiv">
        <div class="leftSideDiv">
            <div class="imgDiv">
            </div>
        </div>
        <div class="rightSideDiv">
            <div class="textAreaDiv">
                <div class="languageDiv">
                    <a mat-button color="accent" href="#">English</a>
                    <span> / </span>
                    <a mat-button color="accent" href="#">Espanol</a>
                </div>
                <h1>A Better Way To Budget</h1>

                <p class="upperSectionP">Stay in control of your spending with our prepaid pharmacy
                   card. Available to anyone- <strong>at $0 cost of fees.</strong> 
                </p>
            </div>            
        </div>
    </div>
    <div class="lowerSectionDiv">
        <div class="lowerLeftDiv">
            <div class="lowerTextDiv">
                <h2>Make your life easier.</h2>
                <ul class="lowerTextUl">
                    <li>Get alerts and savings tips</li>
                    <li>Reload online or instore for free</li>
                    <li>Track spending online</li>
                </ul>
            </div>
        </div>
        <div class="lowerRightDiv">
            <app-activate-card-form></app-activate-card-form>
         </div>
    </div>
</div>


<!-- <app-signup-form></app-signup-form> -->